.notes ul {
    list-style: none;
    padding: 0;
  }
  
  .notes li {
    margin: 10px 0;
  }
  
  .note-input {
    display: flex;
    margin-top: 20px;
  }

  .titulo-det-course-note{
    font-size: 25px !important;
  }
  
  .note-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .note-input button {
    padding: 6px 8px;
    border: none;
    background-color:var(--color-uno);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .note-input button:hover {
    background-color: #0c4ca6;
  }
  
  .titulo-det-course-note{
    color: #000;
    font-size: 30px;
  }

  .titulo-btn-notas{
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .h5p-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .note-section{
    margin-bottom: 5px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(0 0 0 /.2);
  }

  summary h3{
    display: inline;
  }