.contenido{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5em 10em;   
    min-height: 88.2vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 101, 242, 1) 82%);
}

.seccion-clases{
    width: 100%;
}

.clases{
    display: flex ;
    gap: 35px;
    padding: 10px;
    
    flex-wrap: wrap;
}

.titulo-clases{
    font-size: 30px;
    color: #fff;
}
