/* src/components/Modal.css */
.modal-overlay-edit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-edit {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 30rem;
  border-radius: 8px;
  font-size: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h2 {
  margin: 0 0 20px 0;
}

.modal-content button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #0056b3;
}

.btns-modal-edit{
  display: flex;
  gap: 5px;
  justify-content:flex-end;
}

.word-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.word-card span {
  margin-right: 10px;
  font-size: 11px;
  color: black;
}

.delete-button {
  background: var(--color-danger);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-button:hover {
  background: #c0392b;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input-word{
  width: 10em;
}

.btn-add:hover{
  border-color: var(--color-uno);
  color: var(--color-uno);
}

.add-word-container {
  display: flex;
  align-items: center;
}

/* .add-word-container input {
  flex: 1;
  padding: 5px;
  font-size: 1em;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */
