.select-role {
    display: flex;
    margin-bottom: 15px;
    background-color: #1865f2;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
}

.btn-role {
    width: 100%;
    cursor: pointer;
    padding: 5px 10px;
    color: #000;
    background-color: #fff;
}

.btn-role:hover{
    color: #ffffff;
    background: #1865f2 ;
}

.label-form{
    font-size: 12px;
}

.input{
    height:30px ;
}

.input:hover{
    border-color: var(--color-uno);
}

.login-logo-register{
    width: 70px;
}
