.main-docente{
    display: flex;
    gap: 20px;
    align-items: center;
}

.contenido-tarjeta{
    background-color: var(--color-background-tarjeta);
    padding: .7em;
    width: 225px;
    max-width: 225px;
    height: 300px;
    max-height: 300px;
    border-radius: 5px;
    border: 1px solid #f7f8fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.img-tarjeta{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    
}

.tarjeta-titulo{
    font-size: 1em;
    font-weight: bold;

}

.tarjeta-descripcion{
    font-size: .8em;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarjeta-btn{
    display: inline-block;
    background-color: var(--color-uno);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: .8em;
    font-weight: bold;
    transition: background-color 0.3s;
}
.tarjeta-btn:hover {
    background-color: #0c4ca6;
}

.btn-agregar{
    display: flex;
    align-items: center;
    background-color: var(--color-uno);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: .2em;
    font-weight: bold;
    border: 1px solid #f7f8fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-agregar:hover{
    background-color: #0c4ca6;
}

.icono-agregar{
    width: 100px ;
}






